<div class="header">
    <mat-toolbar color="primary" class="nav">
    <mat-toolbar-row>
      <a routerLink='' mat-button ><mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon>Home</a>
      <span class="menu-spacer"></span>
      <div>
        
        <a [routerLink]="['/menu']" mat-button>Today's Special</a>
        
        <button mat-icon-button  >
          
          <!-- <mat-icon>search</mat-icon> -->
      </button>
      <button button mat-stroked-button  [routerLink]="['/order']"><span _ngcontent-obd-c74="" class="material-icons">shopping_cart</span>Place Order</button>
        
        
      </div>
    </mat-toolbar-row>
  </mat-toolbar>
  
  
</div>

