<div class="container">

        <div class="carthead" >
            <mat-list role="list">
                <mat-list-item role="listitem"><h1>Your Cart Items</h1></mat-list-item>
                
            </mat-list>
        </div>
        
            <div class="noitem" *ngIf="cartItem.length===0">
                <p><--your cart is Empty--->Please Order Some thing</p>
            </div>
            <div  *ngIf="cartItem.length>0">
                    <div class="wrapper">
                        <div class="cards_wrap">
                            <div class="card_item"  *ngFor= "let item of cartItem">
                                <app-cart-item [cartItem]="item"></app-cart-item>
                    
                            </div>

                        </div>
                    </div>
                    
                    <mat-list role="list" >
                        <div class="bill">
                            <mat-list-item role="listitem"><strong class="bills"><h1>Total Bill: {{cartTotal|currency:'INR'}}</h1></strong></mat-list-item>
                        </div>
                      </mat-list>
                    
                      
                
            </div>    
    

           
   
</div>