@import url("https://fonts.googleapis.com/css?family=Nunito&display=swap");

.container{
    background-color: #10A881;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
  font-family: "Nunito", sans-serif;
}

.noitem{
  /* width: 50%;
  margin-left: auto;
  margin-right: auto;
  height: 300px; */
  height: 50px;
  text-align: center;
  font-size: 40px;
  font-weight: 900;
  color:#E74292;
  background-color:#586776;
  border-radius: 40px;
  align-items: center;
  padding: 20px;

}



h1{
  width: 100%;
  color:#192A56;
  text-align: center;
  font-weight: 900;
  padding :5px;
  
}
.carthead,.bill{
  
  
  background-color: #FBD28B;
  padding:15px;
  border-radius:10px;
  text-align: center;
  box-shadow: 0 0 10px#E74292;
}

.bills{
  margin-left:540px;
  margin-top: 10px;
}

.wrapper {
  width: 100%;
  margin: 20px auto;
}

.cards_wrap {
  display: flex;
  flex-wrap: wrap;
  

  
}

 .card_item {
  width: 25%;
  padding: 10px;
  
}


.order{
  padding: 0 10px;
  color: #FF3E4D;
  background-color:#EAF0F1;
  margin-left: 15px;
  font-size: 20px;
  font-weight: 900;
}
.order:hover{
  box-shadow: 0 0 10px black;
  background-color: #AE1438;
  color: #EAF0F1;
  
}

@media (max-width: 1024px) {
   .card_item {
    width: 33.3%;
  }
}

@media (max-width: 768px) {
  .cards_wrap .card_item {
    width: 50%;
  }
}

@media (max-width: 528px) {
   .card_item {
    width: 100%;
  }
}